# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

*.db
*.duckdb
tmp
*.parquet
.DS_Store
deno_loader/deno_loader
.vscode
*.zip
file_data
loader/python
.envrc
__pycache__
bin
loader/node_modules/*
node_modules
.pytest_cache
